@media screen and (max-width: 769px) {
  header {
    padding-top: 0;
    padding-bottom: 10px;
    height: auto;
  }

  .header-banner {
    height: auto;
  }
  header > nav {
    padding: 20px 0;
  }
  header > nav > .menu-bar {
    display: block;
    font-size: 1.4rem;
    color: black;
  }
  header > nav > .logo-text {
    font-size: 1.2rem;
  }
  header .nav-link ul {
    display: none;
  }
  header .nav-link .search {
    margin-right: 5px;
  }
  .banner-text,
  .bannerside-img {
    width: 100%;
    height: 100%;
  }
  .banner-text > .banner-title {
    font-size: 2.25rem;
    line-height: 45px;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  div.feature-text {
    width: 100%;
  }
  div.feature-text > .feature-subtitle {
    padding-right: 0;
  }
  .sponsor > .container {
    justify-content: center;
    gap: 20px;
  }
  .collection > .container > .collection-card-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-product > .container > .feature-img {
    width: 100%;
  }

  h3.btn-seeMore {
    right: 0;
  }

  .column {
    flex-direction: column;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .container {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}
